p{
    color: rgb(148, 25, 25);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
}
h1{
    color: rgb(109, 31, 31);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
}
h2{
    color: rgb(148, 25, 25);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
}
h3{
    color: rgb(148, 25, 25);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
}
h4{
    color: rgb(148, 25, 25);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
}
ol{
    color: rgb(155, 78, 78);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
}
ul{
    color: rgb(155, 78, 78);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
}
a{
    color: rgb(247, 70, 70);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
}input{
    color: rgb(247, 70, 70);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(221, 212, 212);
    border-color: rgb(230, 56, 56);
    border-width: 1px;
}
select{
    color: rgb(247, 70, 70);
    background-color: rgb(221, 212, 212);
    border-color: rgb(230, 56, 56);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-width: 1px;
}
input[type="submit"]{
    color: rgb(43, 129, 62);
    background-color: rgb(200, 233, 201);
    border-color: rgb(31, 145, 31);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-width: 1px;
}